#reservation_page {
  display: flex;
  flex-direction: column;
}

#reservation_page_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#reservation_page_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservation_page_date {
  display: flex;
  flex-direction: row;
}
