<h1>Reserve</h1>
<div id="reservation_page">
  <div class="page-top">
    <div id="dropdown">
      <select id="machine_dropdown"(change)="onSelect()">
        <option value="all">All Machines</option>
        <option value="Treadmill">Treadmills</option>
        <option value="Stairmaster">Stairmasters</option>
        <option value="Squat Rack">Squat Racks</option>
      </select>
    </div>
    <div id="reservation_page_date_picker">
      <div class="reservation_page_date">
        <label>From</label>
        <input type="date" name="from_date" value="{{fromDate}}">
      </div>
      <div class="reservation_page_date">
        <label>To</label>
        <input type="date" name="to_date" value="{{toDate}}">
      </div>
    </div>
  </div>
  <div id="reservation_page_bottom" class="large-table">
    <table class="reservation_table">
      <th colspan="1">Time</th>
      <th *ngFor="let machine of getChunkedMachines()">
        {{machine.machine_type}} {{machine.id}}
      </th>
      <tr *ngFor="let time of getTimeSlots()">
        <td>{{time}}</td>
        <td *ngFor="let machine of getMachinesByTime(time)" (click)="toggleSelection(machine)" [ngClass]="{selected: machine.isSelected, selectable: machine.available}">
          <div *ngIf="machine.available">
            <p>
              <span class="check">&#10004; </span>
              <span>Open</span>
            </p>
          </div>
          <div *ngIf="!machine.available">
            <p>
              <span class="x">&#x2717; </span>
            </p>
          </div>
        </td>
      </tr>
    </table>
    <div id="reserve_page_buttons">
      <div id="see_more_less_buttons">
        <button class="btn btn-default btn-half" [disabled]="page <= 0" type="button" (click)="lastPage()">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          Last</button>
        <button class="btn btn-default" type="button" (click)="nextPage()">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          Next</button>
      </div>
      <div class="rest-of-buttons">
        <button class="btn btn-default btn-full" [disabled]="!showUndoReserve" type="button" (click)="undoReserve()">Remove Reserve</button>
        <button class="btn btn-default btn-full" [disabled]="!showReserve" id="reserve_button" type="button" (click)="reserve()">Reserve</button>
        <button class="btn btn-default btn-full" id="view_map" type="button" onclick="window.open('map','_blank')">View Map</button>
      </div>
    </div>
  </div>
</div>
