<h1>Reserve</h1>
<div id="reservation_page">
  <div class="page-top">
    <div id="dropdown">
      <select>
        <option selected>All Machines</option>
        <option value="treadmills">Treadmills</option>
        <option value="eilliptcals">Ellipticals</option>
        <option value="squat_racks">Squat Racks</option>
      </select>
    </div>
    <div id="reservation_page_date_picker">
      <div class="reservation_page_date">
        <label>From</label>
        <input type="date" name="from_date" value="{{from_date}}">
      </div>
      <div class="reservation_page_date">
        <label>To</label>
        <input type="date" name="to_date" value="{{to_date}}">
      </div>
    </div>
  </div>
  <div id="reservation_page_bottom" class="large-table">
    <table>
      <th colspan="1">Time</th>
      <th *ngFor="let machine of getChunkedMachines()">
        {{machine.name}}
      </th>
      <tr *ngFor="let time of getTimeSlots()">
        <td>{{time}}</td>
        <td *ngFor="let machine of getMachinesByTime(time)" (click)="toggleSelection(machine)" [ngClass]="{selected: machine.isSelected, selectable: machine.available}">
          <div *ngIf="machine.available">
            <p>
              <span class="check">&#10004; </span>
              <span>Open</span>
            </p>
          </div>
          <div *ngIf="!machine.available">
            <p>s
              <span class="x">&#x2717; </span>
            </p>
          </div>
        </td>
      </tr>
    </table>
    <button *ngIf="page > 0" type="button" (click)="lastPage()">See Previous</button>
    <button type="button" (click)="nextPage()">See More</button>
    <button *ngIf="reservations_made > 0" type="button" (click)="undoReserve()">Undo Reserve.</button>
    <button id="reserve_button" type="button" (click)="reserve()" style="display: none;">Reserve</button>
  </div>
</div>
