body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.site_title {
  align-self: center;
}

.active {
  background-color: #383838;
}

#dropdown {
  width: 10%;
}
