<h1 class="site_title">Gym Schedulr</h1>

<div class="home_page_machines">
  <a routerLink="/reservations/Squat Racks">
    <div class="home_page_machine">
      <div class="machine_title">Squat Racks</div>
      <img src="assets/squat_rack_icon.png" class="machine_icon">
      <div class="machine_availability">
        <div>25% Available for the Next</div>
        <div>3 Hours</div>
      </div>
    </div>
  </a>
  <a routerLink="/reservations/Treadmills">
    <div class="home_page_machine">
      <div class="machine_title">Treadmills</div>
      <img src="assets/treadmill_icon.png" class="machine_icon">
      <div class="machine_availability">
        <div>25% Available for the Next</div>
        <div>3 Hours</div>
      </div>
    </div>
  </a>
  <a routerLink="/reservations/Stairmasters">
    <div class="home_page_machine">
      <div class="machine_title">Stairmasters</div>
      <img src="assets/stairmaster_icon.png" class="machine_icon">
      <div class="machine_availability">
        <div>25% Available for the Next</div>
        <div>3 Hours</div>
      </div>
    </div>
  </a>
</div>
