<h1>Gym Schedulr</h1>

<div class="home_page_machines">
  <div routerLink="/reservations/Squat Rack" class="home_page_machine">
    <div class="machine_title">Squat Racks</div>
    <img src="assets/squat_rack_icon.png" class="machine_icon">
  </div>
  <div class="home_page_machine" routerLink="/reservations/Treadmill">
    <div class="machine_title">Treadmills</div>
    <img src="assets/treadmill_icon.png" class="machine_icon">
  </div>
  <div class="home_page_machine" routerLink="/reservations/Stairmaster">
    <div class="machine_title">Stairmasters</div>
    <img src="assets/stairmaster_icon.png" class="machine_icon">
  </div>
</div>
