.home_page_machines {
  margin: auto;
  width: 90%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
}

.home_page_machine {
  height: 120px;
  border-top: 2px solid;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
}

.home_page_machine:hover  {
  cursor: pointer;
  background-color: rgba(30, 154, 255, .1)
}

.machine_title {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
  width: 300px;
  font-size: 40px;
}

.machine_icon {
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
}

.machine_availability {
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  text-align: center;
  padding-bottom: 5px;
}

.btn-half {
  margin:0 auto;
  display:block;
}

.btn-full {
  width:100%;
}
#reserve_page_buttons {
  width:10%;
  border: #111111;
}

#see_more_less_buttons {
  margin:auto;
  display: flex;
  flex-direction: row;
}

.btn {
  margin-bottom: 25px;
  white-space:normal !important;
  word-wrap: break-word;
  background-color: rgba(30, 154, 255, .1)
}

.btn:disabled {
  background-color: transparent;
  color:lightgrey;
}

.reservation_table{
  margin:auto;
  width:90%;
  text-align: center;
}

.reservation_page_date {
  display: flex;
  flex-direction: row;
}

.large-table {
  width: 90%;
  margin:auto;
}

button {
  width: 75px;
}

table {
  margin: auto;
  width: 90%;
}
th {
  border: 1px solid black;
}

select {
  margin-bottom: 5px;
  width: 195px;
}

.check {
  color: #59b100;
}

.x {
  color: darkred;
}

td:hover {
  background-color: rgba(30, 154, 255, .1)
}

.selected {
  background-color: rgba(30, 154, 255, .2) !important;
}

img {
  margin-left: 5%;
}