<h1>Gym Schedulr</h1>

<h4>Please read our policy before reserving!</h4>
<button class="btn btn-default btn-half" type="button" routerLink='policy'>Policy</button>

<div class="home_page_machines">
  <div routerLink="/reservations/squat rack" class="home_page_machine">
    <div class="machine_title">Squat Racks</div>
    <img src="assets/squat_rack_icon.png" class="machine_icon">
  </div>
  <div class="home_page_machine" routerLink="/reservations/bench press">
    <div class="machine_title">Bench Press</div>
    <img src="assets/bench_press_icon.png" class="machine_icon">
  </div>
  <div class="home_page_machine" routerLink="/reservations/leg press">
    <div class="machine_title">Leg Press</div>
    <img src="assets/leg_press_icon.png" class="machine_icon">
  </div>
</div>
