<h1>My Routines
  <a routerLink="/reservations">
    <button class="btn custom-btn-default">
      <i class="fas fa-plus"></i>
    </button>
  </a>
</h1>
<div id="reservation_page">
  <div class="routines-page-top">
    <div class="routines_date_picker">
      <div >
        <label>
          Date
          <input type="date" name="date" (change)="onDateChange($event)" value="{{date}}">
        </label>
      </div>
    </div>
  </div>
    <table class="table-style">
      <tr>
        <th class="minus-column"></th>
        <th>Machine Name</th>
        <th>Time Span</th>
      </tr>
      <tr *ngFor="let machine of reservedMachines">
        <td>
          <button class="btn delete-button" (click)="remove(machine)">
            <i class="fas fa-times"></i>
          </button>
        </td>
        <td>{{machine.machine_reference.machine_type}} {{machine.machine_reference.machine_type_id}}</td>
        <td>{{machine.time}}</td>
      </tr>
    </table>
</div>
