#reservation_page {
  display: flex;
  flex-direction: column;
}

#reservation_page_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservation-page-date {
  margin: auto;
}

.custom-btn-default {
  background-color: #f2f2f2;
  color: rgb(30, 154, 255);
}
