<h1 class="site_title">My Routines</h1>
<div id="reservation_page">
  <div id="reservation_page_top">
    <div id="reservation_page_date_picker">
      <div class="reservation-page-date">
        <label>Date</label>
        <input type="date" name="from_date">
      </div>
    </div>
  </div>
    <table class="table-style">
      <tr>
        <th>Machine Name</th>
        <th>Time Span</th>
      </tr>
      <tr>
        <td>Tread1</td>
        <td>7:30-8:30 AM</td>
      </tr>
      <tr>
        <td>Squat3</td>
        <td>8:00-8:10 AM</td>
      </tr>
      <tr>
        <td>Elliptical6</td>
        <td>8:10-8:30 AM</td>
      </tr>
    </table>
</div>
