<h1>Gym Schedulr Policy</h1>

<div class="policy-info">
	<h4>To reserve machines Gym Schedulr, please understand the rules and guidelines below. Thank you!</h4>
</div>

<div class="policy-list">
	<ul>
		<li>Please be respectful of other gym-goers around you. Conflicts around machine usage are bound to happen so remain calm and notify a Marino Center employee if are having any issues.</li>
		<li>Reservations only hold your machine for 5 minutes after the reserved time slot begins. After the 5 minute grace period, someone else can start using the machine. This app is meant to promote efficiency and to achieve that, machines should be left unused for as little time as possible.</li>
		<li>Once the time slot you have reserved you machine for expires, you must leave the machine if someone else is waiting for it. Even if you are in the middle of a set or an intense run, the time slots have hard stops!</li>
		<li>Time slots are 10 minutes long. You can reserve the same machine up to 4 consecutive time slots. The cap exists to ensure that more people get the chance to use machines throughout the day.</li>
		<li>If you are having any issues with using your machine due to other people using it during your time slot, please notify a Marino Gym employee before losing your temper! They will be able to assist and resolve any issues you are having with your reservation.</li>
		<li>Please make sure you are using the machine that you reserved. Furthermore, not all machines in the gym are available to reserve. Be aware of this to avoid conflict with other gym-goers.</li>
	</ul>
</div>

<button routerLink=''>Return to home page</button>